.main {
    position: absolute;
    left: 35%;
    width: 30%;
    top: 35%;
    background-color: skyblue;
    padding: 15px;
    border-radius: 10px;
}
.main div {
    margin-top: 5px;
}
.main p {
    color: gray;
    font-size: 14px;
    margin: 0;
}
